@{
    Layout = null;
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/ajaxfileupload.js"></script>

@*<form action="/Home/UploadFile" method="post" enctype="multipart/form-data">*@
<input type="file" name="file"  id="fileToUpload" onchange="uploadFile()" style="float:left" />
<input type="button" value="保存" />
@*</form>*@

<script type="text/javascript">
    function uploadFile () {
        $.ajaxFileUpload({
                url: '/Home/UploadFile',
                secureuri: false,
                fileElementId: 'fileToUpload',//file标签的id
                dataType: 'json',//返回数据的类型
                data: { name: 'logan' },//一同上传的数据
                success: function (data, status) {
                    if (status == "success" && data.status) {
                        alert(data.message + "\n文件上传路径：" + data.ImgUrl + ",\n新文件名：" + data.FName);
                    }
                    else {
                        alert("上传失败" );
                    }
                },
                error: function (data, status, e) {
                    alert(e);
                }
            });
    }
    //$(function () {
    //    //选择文件之后执行上传
    //    $('#fileToUpload').on('change', function () {
    //        $.ajaxFileUpload({
    //            url: '/Home/UploadFile',
    //            secureuri: false,
    //            fileElementId: 'fileToUpload',//file标签的id
    //            dataType: 'json',//返回数据的类型
    //            data: { name: 'logan' },//一同上传的数据
    //            success: function (data, status) {
    //                debugger
    //            },
    //            error: function (data, status, e) {
    //                alert(e);
    //            }
    //        });
    //    });

    //});
</script>  