@{
    Layout = null;
}

<form action="/Home/UploadFile" method="post" enctype="multipart/form-data">
    <input type="file" name="file" style="float:left" />
    <input type="submit" value="保存" />
</form>